<section class='tab_comment'>
    <details open="open">
        <summary class='comment_caption'>
            <span>Примечание</span>
        </summary>
        <div>
            <textarea  name='comment' class='comment_text' readonly tab_form_field>{{comment}}</textarea>
        </div>
    </details>
</section>