<footer>
    <span>сообщение: </span>
    <span id="footer_message"></span>
    <a id="send_report_btn">&#128030;</a>
    <span id="send_report_tooltip">Отправить отчет об ошибке</span>
    <!-- ++140921KHC блок для призыва к отправке отчета -->
    <span id="call_to_report">Похоже на странице произошла ошибка! Самое время отправить отчет разработчикам.</span>
    <!-- ++070921KHC блок для отображения всплывающих подсказок -->
    <div id="tooltip_container">
        <div id="tooltip"></div>
    </div>
</footer>