		<header>
			<div class='container-fluid'>
				<div class='row justify-content-between header_navbar'>
					<div class='col-4 header_navbar_left'>
						<div class='Cell'><span>CRM DEMO: </span><span class="username">Admin</span></div>
					</div>

					<div class='col-20 header_navbar_right'>
						<div class='row'>
							<div class='col-auto'>
								<div class='Fance'></div>
								<div class='Cell'>
									<a href='/measurements.html' target='_top'>Заявки</a>
								</div>
							</div>
							<div class='col-auto'>
								<div class='Fance'></div>
								<div class='Cell'>
									<a href='/contracts.html' target='_top'>Договоры</a>
								</div>
							</div>
							<div class='col-auto'>
								<div class='Fance'></div>
								<div class='Cell'>
									<a href='/reports.html' target='_top'>Отчеты</a>
								</div>
							</div>
							<div class='col-auto'>
								<div class='Fance'></div>
								<div class='Cell'>
									<a href='/handbooks.html' target='_top'>Справочники</a>
								</div>
							</div>
							<div class='col-auto'>
								<div class='Fance'></div>
								<div class='Cell'>
									<a href='/management.html' target='_top'>Админка</a>
								</div>
							</div>
							<div class='col-auto'>
								<div class='Fance'></div>
								<div class='Cell'>
									<a href='/about_program.html' target='_top'>О программе</a>
								</div>
							</div>
							<div class='col-auto'>
								<div class='Fance'></div>
								<div class='Cell'>
									<a href='/login.html' target='_top'>Выход</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
