<div id="general_settings">
    <h1>Общие настройки</h1>
    <form id="general_settings_form">
        <div class="config_section" conf_name="client_config">
            <h2>Клиент</h2>
            {{client_content}}
        </div>
        <div class="config_section" conf_name="database_config">
            <h2>База данных</h2>
            {{db_content}}
        </div>
        <button id="save_settings">Сохранить</button>
    </form>
</div>