                                <div class="central_table_head">
                                    <div style="display: none">record_id</div>
                                    <div style="width: 16%">ID</div>
                                    <div style="width: 30%">Псевдоним</div>
                                    <div style="width: 36%">ФИО</div>
                                    <div style="width: 10%">Коэфф</div>
                                    <div style="width: 8%">del</div>
                                </div>

                                <div class='central_table_body'>
                                    <table style="table-layout: fixed">
                                        <thead>
                                            <tr class="disable-click">
                                                <td style="display: none"></td>
                                                <td style="width: 16%"></td>
                                                <td style="width: 30%"></td>
                                                <td style="width: 36%"></td>
                                                <td style="width: 10%"></td>
                                                <td style="width: 8%"></td>
                                            </tr>
                                        </thead>
                                        {{table_records}}
                                    </table>
                                </div>