
<main class='page_login'>
    <form>
        <div>
            <label for='Log'>Логин:</Label>
            <input id="Log" type='text' id='Pass' name='Pass'></input>
        </div>
        <div>
            <label for='Pass'>Пароль:</Label>
            <input type='password' id='Pass' name='Pass'></input>
        </div>
        <div>
            <button id='btn_ok'>ОК</button>
            <button id='btn_cancel' >Отмена</button>
        </div>
    </form>
</main>
