<section style="display: none" record_id = {{record_id}}></section>
<section class="tab_data">
    <table class="tab_table">
        <tr>
            <td>Обращение:</td>
            <td>
                <input name="measurement_date_of_request" class="paired_field active_field" type="text" value="{{measurement_date_of_request}}" readonly tab_form_field>
                <div class="paired_field">
                    <input class="" type="date">
                </div>
            </td>
        </tr>
        <tr>
            <td>Замер:</td>
            <td>
                <input name="measurement_date_of_measurement" class="paired_field active_field" type="text" value="{{measurement_date_of_measurement}}" readonly tab_form_field>
                <div class="paired_field">
                    <input class="" type="date">
                </div>
            </td>
        </tr>
        <tr>
            <td>Смета:</td>
            <td>
                <input name="measurement_date_of_estimate" class="paired_field active_field" type="text" value="{{measurement_date_of_estimate}}" readonly tab_form_field>
                <div class="paired_field">
                    <input class="" type="date">
                </div>
            </td>
        </tr>
    </table>
</section>