<section style="display: none" record_id = {{record_id}}></section>
<section class="tab_data">
    <table class="tab_table">
        <tr>
            <td>Площадь:</td>
            <td><input name="object_square" class="" type="number" value="{{object_square}}" readonly tab_form_field></td>
        </tr>
        <tr>
            <td>Комнат:</td>
            <td><input name="object_room_count" class="" type="number" value="{{object_room_count}}" readonly tab_form_field></td>
        </tr>
        <tr>
            <td>Санузлов:</td>
            <td><input name="object_bathroom_count" class="" type="number" value="{{object_bathroom_count}}" readonly tab_form_field></td>
        </tr>
    </table>
</section>