                                        <section style="display: none" record_id = {{record_id}}></section>
                                        <section class="tab_data">
                                            <br>
                                            <br>
                                            <div style="Font-size: 25px; padding: 20%; white-space: nowrap;">Контент в разработке</div>
<!--                                            <details open>-->
<!--                                                <summary id='tab_contr_calendar_1'>-->
<!--                                                    <span>Этап 1</span>-->
<!--                                                    <span>Наименование</span>-->
<!--                                                </summary>-->
<!--                                                <table class="tab_table">-->
<!--                                                    <tr>-->
<!--                                                        <td>Наименование:</td>-->
<!--                                                        <td><input name="tab_contr_calendar_1_title" class="" type="text" value="?????????" readonly tab_form_field></td>-->
<!--                                                    </tr>-->
<!--                                                    <tr>-->
<!--                                                        <td>Начало:</td>-->
<!--                                                        <td>-->
<!--                                                            <input name="tab_contr_calendar_1_start" class="paired_field active_field" type="text" tabindex="" readonly tab_form_field>-->
<!--                                                            <div class="paired_field">-->
<!--                                                                <input class="" type="date" tabindex="">-->
<!--                                                            </div>-->
<!--                                                        </td>-->
<!--                                                    </tr>-->
<!--                                                    <tr>-->
<!--                                                        <td>Окончание:</td>-->
<!--                                                        <td>-->
<!--                                                            <input name="tab_contr_calendar_1_finish" class="paired_field active_field" type="text" tabindex="" readonly tab_form_field>-->
<!--                                                            <div class="paired_field">-->
<!--                                                                <input class="" type="date" tabindex="">-->
<!--                                                            </div>-->
<!--                                                        </td>-->
<!--                                                    </tr>-->
<!--                                                </table>-->
<!--                                            </details>-->
                                        </section>