<div class="central_table_head">
    <div style="display: none">record_id</div>
    <div style="width: 12%">Заявка</div>
    <div style="width: 12%">Дата</div>
    <div style="width: 12%">Тип</div>
    <div style="width: 28%">Заказчик</div>
    <div style="width: 28%">Объект</div>
    <div style="width: 8%">del</div>
</div>

<div class='central_table_body'>
    <table style="table-layout: fixed">
        <thead>
            <tr class="disable-click">
                <td style="display: none"></td>
                <td style="width: 12%"></td>
                <td style="width: 12%"></td>
                <td style="width: 12%"></td>
                <td style="width: 28%"></td>
                <td style="width: 28%"></td>
                <td style="width: 8%"></td>
            </tr>
        </thead>
        {{table_records}}
    </table>
</div>