<section style="display: none" record_id = {{record_id}}></section>
<section class="tab_data">
    <div title="">
        здесь будут комментарии клиента к отчету и ответы сотрудников офиса
    </div>
</section>